.tablePageContainer {
    max-width: 1920px;
    padding: 24px 180px 56px;
}

.breadCrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(129, 131, 135, 1);
}

.backLink:hover {
    cursor: pointer;
}

.breadCrumbs > div {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: rgba(23, 35, 57, 1);
}

.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 16px;
}

.backArrow, .nextArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgba(243, 255, 249, 1);
    border-radius: 38px;
    border: none;
}

.backArrow:hover, .nextArrow:hover {
    cursor: pointer;
}

.backArrow:hover svg path, .nextArrow:hover svg path {
    fill: rgba(6, 129, 62, 1);
}

.nextArrow {
    rotate: 180deg;
    z-index: 0;
}

@media screen and (max-width: 1700px) {
    .tablePageContainer {
        max-width: 100%;
    }
}

@media screen and (max-width: 1350px) {
    .tablePageContainer {
        padding: 24px 50px 56px;
    }
}

@media screen and (max-width: 1024px) {
    .tablePageContainer {
        padding: 24px 24px 56px;
    }
}