.hamburgerMenu {
    display: flex;
    align-items: center;
}

.toggleMenu {
    display: none;
}

.menuBox {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0 5px 0 0;
    list-style: none;
}

.menuItem {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(219, 219, 219, 1);
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .menuBtn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 23px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }

    .menuBtn > span,
    .menuBtn > span::before,
    .menuBtn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: rgba(255, 255, 255, 1);
    }

    .menuBtn > span::before {
        content: '';
        top: -8px;
    }

    .menuBtn > span::after {
        content: '';
        top: 8px;
    }

    .menuBox {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 50px 0 0 0;
        list-style: none;
        text-align: center;
        background-color: #172339;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        z-index: 1;
    }

    .menuItem {
        display: block;
        padding: 10px 0;
    }

    .toggleMenu:checked ~ .menuBtn > span {
        transform: rotate(45deg);
        height: 1px;
    }

    .toggleMenu:checked ~ .menuBtn > span::before {
        top: 0;
        transform: rotate(0);
        height: 1px;
    }

    .toggleMenu:checked ~ .menuBtn > span::after {
        top: 0;
        transform: rotate(90deg);
        height: 1px;
    }

    .toggleMenu:checked ~ .menuBox {
        visibility: visible;
        right: 0;
    }

    .menuBtn > span,
    .menuBtn > span::before,
    .menuBtn > span::after {
        transition-duration: .25s;
    }

    .menuBox {
        transition-duration: .25s;
    }

    .menuItem {
        transition-duration: .25s;
    }
}