.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}