.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 16px;
}

.backArrow, .nextArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgba(243, 255, 249, 1);
    border-radius: 38px;
    border: none;
}

.backArrow:hover, .nextArrow:hover {
    cursor: pointer;
}

.backArrow:hover svg path, .nextArrow:hover svg path {
    fill: rgba(6, 129, 62, 1);
}

.nextArrow {
    rotate: 180deg;
    z-index: 0;
}

.tableContainer {
    max-width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.tableContainer::-webkit-scrollbar {
    display: none;
}

.table {
    width: max-content;
    table-layout: fixed;
    border-spacing: 0;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 12px;
    word-break: break-all
}

.table tr:first-child th:first-child {
    border-top-left-radius: 12px;
}

.table tr:first-child th:last-child {
    border-top-right-radius: 12px;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.tableHead {
    background-color: rgba(237, 237, 237, 1);
    font-family: Fira Code, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(50, 58, 71, 1);
}

th {
    vertical-align: top;
    padding: 16px;
}

.columnHead, .companyTitle {
    max-width: 170px;
    font-family: Fira Code, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(50, 58, 71, 1);
}

.columnHead > div {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columnHead > div > span:nth-child(2) {
    color: rgba(129, 131, 135, 1);
}

.tableBody tr:nth-child(even) {
    background-color: rgba(248, 248, 248, 1);
    border: 1px solid rgba(219, 219, 219, 1);
}

.tableBody tr:hover {
    background-color: rgba(243, 255, 249, 1);
}

.companyName, .companyTitle {
    width: 200px;
    border-right: 2px solid rgba(219, 219, 219, 1);
    position: sticky;
    left: 0;
    z-index: 2;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
}

.companyTitle {
    padding-left: 24px;
    background-color: rgba(237, 237, 237, 1);
}

.tableBody tr:nth-child(even) td:first-child {
    background-color: rgba(255, 255, 255, 1);
}

.tableBody tr:nth-child(odd) td:first-child{
    background-color: rgba(248, 248, 248, 1);
}

.columnHead,
.companyIndicator {
    position: sticky;
    z-index: 0;
}


.companyName {
    padding: 16px 24px;
    font-family: Fira Code, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.008em;
    text-align: left;
}

.companyIndicator {
    font-family: Fira Code, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.008em;
    max-width: 123px;
}

.companyIndicator, .companyName {
    border-top: 1px solid rgba(219, 219, 219, 1);
    border-bottom: 1px solid rgba(219, 219, 219, 1);
}

@media screen and (max-width: 720px) {
    .tableHead th {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .companyName, .companyTitle {
        width: 150px;
    }
}

@media screen and (max-width: 450px) {
    .companyName, .companyTitle {
        width: 100px;
    }
}